.startButton {
  background-color: #008A00 !important;
  color: white !important;
}



.mat-raised-button.mat-cancelBtn {
  background-color: #03440c;
  color: #fff;
  display: inline-flex;
  text-align:center;
}

.stopButton {
  background-color: #bc1b06 !important;
  color: white !important;
}

.greenBackground {
  background-color: #07dd07 !important;
}

.redBackground {
  background-color: #bc1b06 !important;
}
