<h1 id="tableLabel">AWS Training</h1>

<p>This app is for testing AWS .NET SDK. <br>We can get all existing EC2 instances from AWS.<br>
We can also create, start and stop EC2's </p>


<button class="btn btn-primary" (click)="CreateInstance()">Create Instance</button>

<p *ngIf="!instances"><em>Loading...</em></p>

<br><br>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="instances">
  <thead>
    <tr>
      <th style="width: 240px;">Id</th>
      <th>Name</th>
      <th>Type</th>
      <th>State</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let instance of instances">
      <td>{{ instance.instanceId }}</td>
      <td>{{ instance.name }}</td>
      <td>{{ instance.instanceType }}</td>
      <td>{{ instance.state }}</td>
      <td><button class="btn btn-primary" *ngIf="instance.state === 'stopped'" (click)="confirmStartVM(instance.instanceId)" class="startButton">
     Start</button>
      <button class="btn btn-primary" *ngIf="instance.state === 'running'" (click)="confirmStopVM(instance.instanceId)" class="stopButton">
      Stop</button></td>

    </tr>
  </tbody>
</table>

